.wrapper{
    margin-top: 90px;
    margin-bottom: 50px;
    text-align: center;
    .title{
        font-family: Dana;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        color: #1A1061;
    }


    .cardHeader{
        //width: 328px;
        width: 100%;
        height: fit-content;
        background: #FFFFFF;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.17);
        border-radius: 7px;
        margin: 5px auto 0;
        .question{
            display: flex;
            justify-content: space-between;
            //align-items: center;
            p {
                font-family: IRANSans(FaNum);
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 234.07%;
                /* or 28px */
                text-align: right;
                color: #002653;

                padding: 10.5px 16px;
                margin: 0;
            }
            .dropDownButton{
                background-color: transparent;
                //width: 12.61px;
                //height: 12.61px;
                margin: 10px 18px 20px ;
                margin: 18px 20px;
            }
            .dropDownButton::selection{
                border: none;
                outline: none;
            }
        }
        .question:hover{
            cursor: pointer;
        }
        .answer{
            font-family: IRANSans(FaNum);
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 234.07%;
            /* or 28px */
            text-align: right;
            color: #002653;

            //padding: 10.5px 16px;
            padding: 0 16px 13.5px 16px;
            margin: 0;
        }

    }
    .borderRight{
        border-right: 8px solid #002653;
        //transition: all 200ms ease-in-out;

        .question{
            p {
                font-weight: bold;
                padding: 10.5px 8px 8.5px 16px;
            }
        }
        .answer {
            padding: 0 8px 13.5px 16px;
        }
    }
}

@media (min-width: 576px) {
    .wrapper{
        background: #F8F8F8;

        margin-top: 0;
        margin-bottom: 0;
        padding-top: 90px;
        padding-bottom: 90px;
        .title{
            font-size: 25px;
            line-height: 39px;
            color: #1A1061;

            padding-bottom: 13px;
            margin: 0;
        }


        .cardHeader{
            width: 328px;
            width: 100%;
            height: fit-content;
            background: #FFFFFF;
            box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.17);
            border-radius: 7px;
            margin: 5px auto 0;
            .question{
                display: flex;
                justify-content: space-between;
                //align-items: center;
                margin-top: 15px;
                p {
                    font-size: 18px;
                    line-height: 30px;
                    text-align: right;
                    color: #002653;

                    padding: 25px 40px;
                    margin: 0;
                }
                .dropDownButton{
                    background-color: transparent;
                    width: 38px;
                    height: 38px;
                    margin: 29px 36px;
                }
                .dropDownButton::selection{
                    border: none;
                    outline: none;
                }
            }
            .answer{
                font-family: IRANSans(FaNum);
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 30px;
                text-align: right;
                color: #002653;

                //padding: 10.5px 16px;
                padding: 0 40px 19px 40px;
                margin: 0;
            }

        }
        .borderRight{
            border-right: 11px solid #002653;
            //transition: all 200ms ease-in-out;

            .question{
                p {
                    font-weight: bold;

                    padding: 25px 29px 25px 40px;
                    margin: 0;
                }
            }
            .answer {
                padding: 0 29px 19px 40px;
            }
        }
    }
}
@media (min-width: 768px) {  }
@media (min-width: 992px) {  }
@media (min-width: 1200px) {
    .wrapper{
        background: #F8F8F8;
        padding: 70.7px 0 70.0px;
        .title{
            font-size: 25.2px;
            line-height: 39.7px;
            color: #1A1061;

            padding-bottom: 20.8px;
            margin: 0;
        }


        .cardHeader{
            width: 206.8px;
            width: 100%;
            height: fit-content;
            background: #FFFFFF;
            box-shadow: 0.0px 0.0px 8.8px rgba(0, 0, 0, 0.17);
            border-radius: 4.4px;
            margin: 3.1px auto 0;
            .question{
                display: flex;
                justify-content: space-between;
                //align-items: center;
                margin-top: 9.5px;
                p {
                    font-size: 15.1px;
                    line-height: 35.3px;
                    text-align: right;
                    color: #002653;

                    padding: 15.8px 25.2px;
                    margin: 0;
                }
                .dropDownButton{
                    background-color: transparent;
                    width: 24.0px;
                    height: 24.0px;
                    margin: 18.3px 22.7px;
                }
                .dropDownButton::selection{
                    border: none;
                    outline: none;
                }
            }
            .answer{
                font-family: IRANSans(FaNum);
                font-style: normal;
                font-weight: normal;
                font-size: 15.1px;
                line-height: 25.9px;
                text-align: right;
                color: #002653;

                //padding: 6.6px 10.1px;
                padding: 0 25.2px 12.0px 25.2px;
                margin: 0;
            }

        }
        .borderRight{
            border-right: 6.9px solid #002653;
            //transition: all 200ms ease-in-out;

            .question{
                p {
                    font-weight: bold;

                    padding: 15.8px 18.3px 15.8px 25.2px;
                    margin: 0;
                }
            }
            .answer {
                padding: 0 18.3px 12.0px 25.2px;
            }
        }
    }
}
@media (min-width: 1371px) {
    .wrapper{
        background: #F8F8F8;
        padding: 80.8px 0 80.0px;
        .title{
            font-size: 28.8px;
            line-height: 45.4px;
            color: #1A1061;

            padding-bottom: 23.8px;
            margin: 0;
        }


        .cardHeader{
            width: 236.4px;
            width: 100%;
            height: fit-content;
            background: #FFFFFF;
            box-shadow: 0.0px 0.0px 10.1px rgba(0, 0, 0, 0.17);
            border-radius: 5.0px;
            margin: 3.6px auto 0;
            .question{
                display: flex;
                justify-content: space-between;
                //align-items: center;
                margin-top: 10.8px;
                p {
                    font-size: 17.3px;
                    line-height: 40.3px;
                    text-align: right;
                    color: #002653;

                    padding: 18.1px 28.8px;
                    margin: 0;
                }
                .dropDownButton{
                    background-color: transparent;
                    width: 27.4px;
                    height: 27.4px;
                    margin: 20.9px 25.9px;
                }
                .dropDownButton::selection{
                    border: none;
                    outline: none;
                }
            }
            .answer{
                font-family: IRANSans(FaNum);
                font-style: normal;
                font-weight: normal;
                font-size: 17.3px;
                line-height: 29.6px;
                text-align: right;
                color: #002653;

                //padding: 7.5px 11.5px;
                padding: 0 28.8px 13.7px 28.8px;
                margin: 0;
            }

        }
        .borderRight{
            border-right: 7.9px solid #002653;
            //transition: all 200ms ease-in-out;

            .question{
                p {
                    font-weight: bold;

                    padding: 18.1px 20.9px 18.1px 28.8px;
                    margin: 0;
                }
            }
            .answer {
                padding: 0 20.9px 13.7px 28.8px;
            }
        }
    }
}
@media (min-width: 1691px) {
    .wrapper{
        background: #F8F8F8;
        padding: 99.7px 0 98.8px;
        .title{
            font-size: 35.6px;
            line-height: 56.1px;
            color: #1A1061;

            padding-bottom: 29.4px;
            margin: 0;
        }


        .cardHeader{
            width: 291.9px;
            width: 100%;
            height: fit-content;
            background: #FFFFFF;
            box-shadow: 0.0px 0.0px 12.5px rgba(0, 0, 0, 0.17);
            border-radius: 6.2px;
            margin: 4.5px auto 0;
            .question{
                display: flex;
                justify-content: space-between;
                //align-items: center;
                margin-top: 13.3px;
                p {
                    font-size: 21.4px;
                    line-height: 49.8px;
                    text-align: right;
                    color: #002653;

                    padding: 22.3px 35.6px;
                    margin: 0;
                }
                .dropDownButton{
                    background-color: transparent;
                    width: 33.8px;
                    height: 33.8px;
                    margin: 25.8px 32.0px;
                }
                .dropDownButton::selection{
                    border: none;
                    outline: none;
                }
            }
            .answer{
                font-family: IRANSans(FaNum);
                font-style: normal;
                font-weight: normal;
                font-size: 21.4px;
                line-height: 36.5px;
                text-align: right;
                color: #002653;

                //padding: 9.3px 14.2px;
                padding: 0 35.6px 16.9px 35.6px;
                margin: 0;
            }

        }
        .borderRight{
            border-right: 9.8px solid #002653;
            //transition: all 200ms ease-in-out;

            .question{
                p {
                    font-weight: bold;

                    padding: 22.3px 25.8px 22.3px 35.6px;
                    margin: 0;
                }
            }
            .answer {
                padding: 0 25.8px 16.9px 35.6px;
            }
        }
    }
}
@media (min-width: 1900px) {
    .wrapper{
        background: #F8F8F8;
        padding: 112px 0 111px;
        .title{
            font-size: 40px;
            line-height: 63px;
            color: #1A1061;

            padding-bottom: 33px;
            margin: 0;
        }


        .cardHeader{
            width: 328px;
            width: 100%;
            height: fit-content;
            background: #FFFFFF;
            box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.17);
            border-radius: 7px;
            margin: 5px auto 0;
            .question{
                display: flex;
                justify-content: space-between;
                //align-items: center;
                margin-top: 15px;
                p {
                    font-size: 24px;
                    line-height: 56px;
                    text-align: right;
                    color: #002653;

                    padding: 25px 40px;
                    margin: 0;
                }
                .dropDownButton{
                    background-color: transparent;
                    width: 38px;
                    height: 38px;
                    margin: 29px 36px;
                }
                .dropDownButton::selection{
                    border: none;
                    outline: none;
                }
            }
            .answer{
                font-family: IRANSans(FaNum);
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 41px;
                text-align: right;
                color: #002653;

                //padding: 10.5px 16px;
                padding: 0 40px 19px 40px;
                margin: 0;
            }

        }
        .borderRight{
            border-right: 11px solid #002653;
            //transition: all 200ms ease-in-out;

            .question{
                p {
                    font-weight: bold;

                    padding: 25px 29px 25px 40px;
                    margin: 0;
                }
            }
            .answer {
                padding: 0 29px 19px 40px;
            }
        }
    }
}