.wrapper{
    margin-top: 90px;
    margin-bottom: 50px;
    text-align: center;
    .title{
        font-family: Dana;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        color: #1A1061;
    }


    .cardHeader{
        //width: 328px;
        width: 100%;
        height: fit-content;
        background: #FFFFFF;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.17);
        border-radius: 7px;
        margin: 5px auto 0;
        .question{
            display: flex;
            justify-content: space-between;
            //align-items: center;
            p {
                font-family: IRANSans(FaNum);
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 234.07%;
                /* or 28px */
                text-align: right;
                color: #002653;

                padding: 10.5px 16px;
                margin: 0;
            }
            .dropDownButton{
                background-color: transparent;
                //width: 12.61px;
                //height: 12.61px;
                margin: 10px 18px 20px ;
                margin: 18px 20px;
            }
            .dropDownButton::selection{
                border: none;
                outline: none;
            }
        }
        .question:hover{
            cursor: pointer;
        }
        .answer{
            font-family: IRANSans(FaNum);
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 234.07%;
            /* or 28px */
            text-align: right;
            color: #002653;

            //padding: 10.5px 16px;
            padding: 0 16px 13.5px 16px;
            margin: 0;
        }

    }
    .borderRight{
        border-right: 8px solid #002653;
        //transition: all 200ms ease-in-out;

        .question{
            p {
                font-weight: bold;
                padding: 10.5px 8px 8.5px 16px;
            }
        }
        .answer {
            padding: 0 8px 13.5px 16px;
        }
    }
}

@media (min-width: 576px) {
    .wrapper{
        background: #F8F8F8;

        margin-top: 0;
        margin-bottom: 0;
        .title{
            font-size: 25px;
            line-height: 39px;
            color: #1A1061;

            padding-bottom: 13px;
            margin: 0;
        }


        .cardHeader{
            width: 328px;
            width: 100%;
            height: fit-content;
            background: #FFFFFF;
            box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.17);
            border-radius: 7px;
            margin: 5px auto 0;
            .question{
                display: flex;
                justify-content: space-between;
                //align-items: center;
                margin-top: 15px;
                p {
                    font-size: 18px;
                    line-height: 30px;
                    text-align: right;
                    color: #002653;

                    padding: 25px 40px;
                    margin: 0;
                }
                .dropDownButton{
                    background-color: transparent;
                    width: 38px;
                    height: 38px;
                    margin: 29px 36px;
                }
                .dropDownButton::selection{
                    border: none;
                    outline: none;
                }
            }
            .answer{
                font-family: IRANSans(FaNum);
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 30px;
                text-align: right;
                color: #002653;

                //padding: 10.5px 16px;
                padding: 0 40px 19px 40px;
                margin: 0;
            }

        }
        .borderRight{
            border-right: 11px solid #002653;
            //transition: all 200ms ease-in-out;

            .question{
                p {
                    font-weight: bold;

                    padding: 25px 29px 25px 40px;
                    margin: 0;
                }
            }
            .answer {
                padding: 0 29px 19px 40px;
            }
        }
    }
}
@media (min-width: 768px) {  }
@media (min-width: 992px) {  }
@media (min-width: 1200px) {  }
@media (min-width: 1900px) {
    .wrapper{
        background: #F8F8F8;
        padding: 112px 0 111px;
        .title{
            font-size: 40px;
            line-height: 63px;
            color: #1A1061;

            padding-bottom: 33px;
            margin: 0;
        }


        .cardHeader{
            width: 328px;
            width: 100%;
            height: fit-content;
            background: #FFFFFF;
            box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.17);
            border-radius: 7px;
            margin: 5px auto 0;
            .question{
                display: flex;
                justify-content: space-between;
                //align-items: center;
                margin-top: 15px;
                p {
                    font-size: 24px;
                    line-height: 56px;
                    text-align: right;
                    color: #002653;

                    padding: 25px 40px;
                    margin: 0;
                }
                .dropDownButton{
                    background-color: transparent;
                    width: 38px;
                    height: 38px;
                    margin: 29px 36px;
                }
                .dropDownButton::selection{
                    border: none;
                    outline: none;
                }
            }
            .answer{
                font-family: IRANSans(FaNum);
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 41px;
                text-align: right;
                color: #002653;

                //padding: 10.5px 16px;
                padding: 0 40px 19px 40px;
                margin: 0;
            }

        }
        .borderRight{
            border-right: 11px solid #002653;
            //transition: all 200ms ease-in-out;

            .question{
                p {
                    font-weight: bold;

                    padding: 25px 29px 25px 40px;
                    margin: 0;
                }
            }
            .answer {
                padding: 0 29px 19px 40px;
            }
        }
    }
}