.headerWrapper {
    height: 100vh;
    background: url("/images/mobile-min.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*background-clip: padding-box;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    /*padding: 0 20px;*/
}
.headerWrapper .container{}

.topTitle {
    padding-top: 128px;
    margin: 0;

    font-family: Dana;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 30px;
    /* identical to box height */

    color: #FEFEFE;

    direction: rtl;
}

.bottomTitle {
    font-family: Dana;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    color: #FEFEFE;
}

.actionWrapper {
    position: absolute;
    /*bottom: 95px;*/
    bottom: 14vh;

    transform: translateX(-50%);
    left: 50%;

    width: fit-content;
}

.actionButton {
    width: 145px;
    height: 49px;
    background: #25BDBE;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;

    border: none;
    outline: none;
}

.actionButton::selection {
    border: none;
    outline: none;
}

.actionButton div {
    font-family: Dana;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 37px;
    color: #FFFFFF;
}

.description {
    /*font-family: Dana-FaNum;*/
    font-family: Dana;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    text-align: right;

    color: #FFFFFF;
}

@media (min-width: 576px) {

    .headerWrapper {
        height: 100vh;
        /*width: 100vw;*/
        background: url("/images/first view.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        background-position-x: -533px;

        align-items: end;
        text-align: right;

        padding: 40vh 0;
    }

    .topTitle {
        font-weight: 600;
        font-size: 22px;
        line-height: 44px;

        height: 44px;

        text-align: right;
        padding: 0;
        margin: 202px 0 0 0;
    }
    .bottomTitle{
        padding: 0;
        margin: 0;

        font-weight: 300;
        font-size: 20px;
        line-height: 40px;

        height: 40px;
    }
    .actionWrapper {
        display: flex;
        position: inherit;
        -webkit-transform: translateX(0);
        margin: 24px 0;
        align-items: center;
    }
    .actionButton {
        width: 102px;
        height: 42px;
        background: #25BDBE;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    .actionButton div{
        font-weight: 500;
        font-size: 15px;
        /*line-height: 40px;*/
    }
    .description {
        font-size: 15px;
        /*line-height: 30px;*/
        padding-right: 29px;
        margin: 0;
    }
}

@media (min-width: 768px) {
    .headerWrapper {
        /*padding: 0 99.2px;*/


    }
    .topTitle {
        font-weight: 600;
        font-size: 35.4px;
        line-height: 54.6px;

        height: 54.6px;
    }
    .bottomTitle{
        padding: 0;
        margin: 0;

        font-weight: 300;
        font-size: 28.3px;
        line-height: 42.5px;

        height: 42.5px;
    }
    .actionWrapper {
        display: flex;
        /*justify-content: flex-end;*/
        /*right: 0;*/
        /*top: 323.2px;*/
        /*position: static;*/
    }
    .actionButton {
        width: 146.7px;
        height: 46.8px;
        background: #25BDBE;
        box-shadow: 0.0px 7.1px 14.2px rgba(0, 0, 0, 0.25);
        border-radius: 7.1px;
    }
    .actionButton div{
        font-weight: 500;
        font-size: 21.3px;
        line-height: 32.6px;
    }
    .description {
        font-weight: 300;
        font-size: 14.2px;
        line-height: 21.3px;
        padding-right: 20.6px;
    }
    .headerWrapper {
        background-position-x: -320px;
    }

}

@media (min-width: 992px) {
    .headerWrapper {
        padding: 0;
        background-position: center;
    }
}

@media (min-width: 1200px) {
    .headerWrapper {
        /*padding: 0 113.4px;*/

    }
    .topTitle {
        font-weight: 600;
        font-size: 40.5px;
        line-height: 62.4px;

        height: 62.4px;
    }
    .bottomTitle{
        padding: 0;
        margin: 0;

        font-weight: 300;
        font-size: 32.4px;
        line-height: 48.6px;

        height: 48.6px;
    }
    .actionWrapper {
        display: flex;
        /*justify-content: flex-end;*/
        /*right: 0;*/
        /*top: 369.4px;*/
        /*position: static;*/
    }
    .actionButton {
        width: 167.7px;
        height: 53.5px;
        background: #25BDBE;
        box-shadow: 0.0px 8.1px 16.2px rgba(0, 0, 0, 0.25);
        border-radius: 8.1px;
    }
    .actionButton div{
        font-weight: 500;
        font-size: 24.3px;
        line-height: 37.3px;
    }
    .description {
        font-weight: 300;
        font-size: 16.2px;
        line-height: 24.3px;
        padding-right: 23.5px;
    }

}
@media (min-width: 1371px) {
    .headerWrapper {
        /*padding: 0 113.4px;*/

    }
    .topTitle {
        font-weight: 600;
        font-size: 40.5px;
        line-height: 62.4px;

        height: 62.4px;
    }
    .bottomTitle{
        padding: 0;
        margin: 0;

        font-weight: 300;
        font-size: 32.4px;
        line-height: 48.6px;

        height: 48.6px;
    }
    .actionWrapper {
        display: flex;
        /*justify-content: flex-end;*/
        /*right: 0;*/
        /*top: 369.4px;*/
        /*position: static;*/
    }
    .actionButton {
        width: 167.7px;
        height: 53.5px;
        background: #25BDBE;
        box-shadow: 0.0px 8.1px 16.2px rgba(0, 0, 0, 0.25);
        border-radius: 8.1px;
    }
    .actionButton div{
        font-weight: 500;
        font-size: 24.3px;
        line-height: 37.3px;
    }
    .description {
        font-weight: 300;
        font-size: 16.2px;
        line-height: 24.3px;
        padding-right: 23.5px;
    }
    .headerWrapper {
        /*padding: 0 130px;*/
        background-position: center;
    }
}

@media (min-width: 1690px) {
    .headerWrapper {
        /*padding: 0 140px;*/

    }
    .topTitle {
        font-weight: 600;
        font-size: 50px;
        line-height: 77px;

        height: 77px;
    }
    .bottomTitle{
        padding: 0;
        margin: 0;

        font-weight: 300;
        font-size: 40px;
        line-height: 60px;

        height: 60px;
    }
    .actionWrapper {
        display: flex;
        /*justify-content: flex-end;*/
        /*right: 0;*/
        /*top: 456px;*/
        /*position: static;*/
    }
    .actionButton {
        width: 207px;
        height: 66px;
        background: #25BDBE;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    .actionButton div{
        font-weight: 500;
        font-size: 30px;
        line-height: 46px;
    }
    .description {
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        padding-right: 29px;
    }
}