.headerWrapper {
    height: 100vh;
    background: url("/images/mobile-min.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*background-clip: padding-box;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 0 20px;
}

.topTitle {
    padding-top: 128px;
    margin: 0;

    font-family: Dana;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 30px;
    /* identical to box height */

    color: #FEFEFE;
}

.bottomTitle {
    font-family: Dana;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    color: #FEFEFE;
}

.actionWrapper {
    position: absolute;
    /*bottom: 95px;*/
    bottom: 14vh;
}

.actionButton {
    width: 145px;
    height: 49px;
    background: #25BDBE;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;

    border: none;
    outline: none;
}

.actionButton::selection {
    border: none;
    outline: none;
}

.actionButton div {
    font-family: Dana;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 37px;
    color: #FFFFFF;
}

.description {
    /*font-family: Dana-FaNum;*/
    font-family: Dana;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    text-align: right;

    color: #FFFFFF;
}

@media (min-width: 576px) {

    .headerWrapper {
        height: 100vh;
        /*width: 100vw;*/
        background: url("/images/first view.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        align-items: end;

        padding: 0 40px;
    }

    .topTitle {
        font-weight: 600;
        font-size: 22px;
        line-height: 44px;

        height: 44px;

        text-align: right;
        padding: 0;
        margin: 202px 0 0 0;
    }
    .bottomTitle{
        padding: 0;
        margin: 0;

        font-weight: 300;
        font-size: 20px;
        line-height: 40px;

        height: 40px;
    }
    .actionWrapper {
        display: flex;
        position: inherit;
        margin: 24px 0;
        align-items: center;
    }
    .actionButton {
        width: 102px;
        height: 42px;
        background: #25BDBE;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    .actionButton div{
        font-weight: 500;
        font-size: 15px;
        /*line-height: 40px;*/
    }
    .description {
        font-size: 15px;
        /*line-height: 30px;*/
        padding-right: 29px;
        margin: 0;
    }
}

@media (min-width: 768px) {
    .headerWrapper {
        padding: 0 60px;
    }
}

@media (min-width: 992px) {
    .headerWrapper {
        padding: 0 80px;
    }
}

@media (min-width: 1200px) {

    .headerWrapper {
        padding: 0 120px;
    }

    .topTitle {
        font-weight: 600;
        font-size: 42px;
        line-height: 77px;

        height: 77px;
        margin: 272px 0 0 0;
    }
    .bottomTitle{
        padding: 0;
        margin: 0;

        font-weight: 300;
        font-size: 36px;
        line-height: 60px;

        height: 60px;
    }
    .actionWrapper {
        display: flex;
        position: inherit;
        margin: 24px 0;
    }
    .actionButton {
        width: 207px;
        height: 66px;
        background: #25BDBE;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    .actionButton div{
        font-weight: 500;
        font-size: 26px;
        line-height: 40px;
    }
    .description {
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        padding-right: 29px;
    }
}

@media (min-width: 1900px) {
    .headerWrapper {
        padding: 0 140px;
    }
    .topTitle {
        font-weight: 600;
        font-size: 50px;
        line-height: 77px;

        height: 77px;
    }
    .bottomTitle{
        padding: 0;
        margin: 0;

        font-weight: 300;
        font-size: 40px;
        line-height: 60px;

        height: 60px;
    }
    .actionWrapper {
        display: flex;
        right: 130px;
        top: 456px;
    }
    .actionButton {
        width: 207px;
        height: 66px;
        background: #25BDBE;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    .actionButton div{
        font-weight: 500;
        font-size: 30px;
        line-height: 46px;
    }
    .description {
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        padding-right: 29px;
    }
}