.wrapper{
  //width: 360px;
  height: 632px;
  background: radial-gradient(96.78% 490.98% at 44.21% 53.69%, #00072D 0%, #2B3D9E 100%);
  text-align: center;

}

@media (min-width: 576px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
  .wrapper{
    padding: 8.7px 0 0;
    height: 540.9px;
  }
}
@media (min-width: 1200px) {
  .wrapper{
    padding: 95.3px 0 0;
    height: 654.8px;
  }
}
@media (min-width: 1371px) {
  .wrapper{
    padding: 108.9px 0 0;
    height: 748.3px;
  }

}
@media (min-width: 1691px) {
  .wrapper{
    padding: 134.4px 0 0;
    height: 923.8px;
  }
}
@media (min-width: 1900px) {
  .wrapper{
    padding: 151px 0 0;
    height: 1038px;
  }

}