.step {
  .question {
    font-family: Dana;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #FEFEFE;

    margin: 51px 0 4px;
    padding: 0;
  }

  .options {
    .optionWrapper {
      height: 90px;

      .option {
        width: 326px;
        height: 80px;
        background: #FEFEFE;
        box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        margin: 17px auto 0;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;

        .logo {
          width: 57px;
          height: 47px;

          margin: 16px 20px 17px 17px;
        }

        .logo2 {
          width: 50px;
          height: 50px;
          background: #FFFFFF;
          border: 2px solid #25BDBE;
          box-sizing: border-box;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -9px 11px rgba(37, 189, 190, 0.21);
          border-radius: 50%;

          padding: 11px 0;
          margin: 15px 22px 15px 21px;
        }

        .flexOnLarge {
          .mutualFund {
            font-family: Dana;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 25px;
            color: #005152;

          }

          .detail {
            font-family: Dana;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            color: #1A1061;
            opacity: 0.52;

            margin-right: 15px;
          }
        }


      }

      .option:hover {
        cursor: pointer;
      }

      .bottomStyle {
        //position: absolute;
        //bottom: -110px;
        //left: 7%;
        width: 282px;
        height: 40px;
        margin: 0 auto;
        transform: translateY(-31px);

        background: #25BDBE;
        box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.25);
        border-radius: 18px;
        z-index: -1;

      }
    }
  }

  .text {
    font-family: Dana;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    color: #FFFFFF;

    margin: 34px 0 0;
  }

  .askButton {
    width: 150px;
    height: 38px;
    background: #27BCC0;
    box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    font-family: Dana;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;

    margin: 21px 0 0;
    border: none;
    outline: none;
  }

  .askButton::selection {
    border: none;
    outline: none;
  }
}

.step3 {
  .text1 {
    font-family: Dana;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #FEFEFE;

    margin: 51px 0 4px;
    padding: 0;
  }

  .text2 {
    font-family: Dana;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;
    margin: 15px 33px 4px;
    //width: 295px;
    height: 60px;
  }

  .form {
    margin-top: 23px;
    display: flex;
    flex-direction: column;
  }

  .input {
    width: 308.25px;
    height: 48.74px;

    margin: 11px auto 0;

    background: rgba(255, 255, 255, 0.9);
    border: 3px solid #7A8094;
    box-sizing: border-box;
    border-radius: 10px;

    direction: rtl;
    text-align: right;
    outline: none;

    font-size: 20px;
    line-height: 30px;

    font-family: Dana;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #252934;
  }

  .input::selection, askButton2::selection {
    outline: none;
  }

  .input::placeholder {


    font-size: 16px;
    line-height: 24px;
    color: #545D75;
  }

  .input:focus {
    border: 3px solid #25BDBE;
    //box-sizing: border-box;
    //border-radius: 20px;
  }

  .askButton2 {
    width: 141.33px;
    height: 48.74px;
    background: #25BDBE;
    border-radius: 10px;

    outline: none;
    border: none;

    font-family: Dana;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;

    color: #FFFFFF;

    margin-top: 32px;
    padding: 12px 13px;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .step {
    position: relative;

    .question {
      font-size: 26.0px;
      line-height: 40.6px;
      margin: 26.6px 0 2.1px;
      padding: 0;
    }

    .options {
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-top: 20.8px;

      .optionWrapper {
        height: fit-content;
        padding: 0 9.7px;


        //border: 10.4px solid white;

        .option {
          width: 258.7px;
          height: 155.8px;
          width: 242.3px;
          height: 146.0px;
          background: #FEFEFE;
          box-shadow: 0.0px 2.6px 12.5px rgba(0, 0, 0, 0.25);
          border-radius: 5.2px;


          //margin: 10.9px auto 0;
          margin: 5.2px auto 0;
          display: block;
          position: relative;
          z-index: 1;

          .logo {
            width: 73.5px;
            height: 63.6px;

            margin: 19.2px 0 0 0;
          }

          .logo2 {
            //width: 26.0px;
            //height: 26.0px;
            background: #FFFFFF;
            border: 1.1px solid #25BDBE;
            box-sizing: border-box;
            box-shadow: 0.0px 2.1px 2.1px rgba(0, 0, 0, 0.25), inset 0.0px -4.7px 5.7px rgba(37, 189, 190, 0.21);
            border-radius: 50%;

            padding: 11.5px 0;
            //margin: 7.8px 11.5px 7.8px 10.9px;

            width: 62.5px;
            height: 62.5px;

            margin: 19.2px 0 0 0;
          }

          .flexOnLarge {
            display: flex;
            justify-content: center;
            align-items: center;

            margin: 15.6px 0 23.4px;

            .mutualFund {
              font-size: 12.5px;
              line-height: 19.8px;
              color: #1A1061;
              margin-bottom: 0;
            }

            .detail {
              font-weight: 600;
              font-size: 9.9px;
              color: #1B1464;
              opacity: 0.8;

              margin-right: 7.8px;
              margin-bottom: 0;
            }
          }

        }

        .bottomStyle {
          //position: absolute;
          //bottom: -57.3px;
          //left: 7%;
          width: 205.8px;
          height: 23.4px;
          margin: 0 auto;
          transform: translateY(-16.2px);

          background: #25BDBE;
          box-shadow: 0.0px 2.6px 12.5px rgba(0, 0, 0, 0.25);
          border-radius: 9.4px;
          z-index: -1;

        }
      }

      .optionWrapper:hover {
        //margin: 5.2px 0 0;
        padding: 0 1.6px;
        transition: all 300ms;
        //border: 0.5px solid white;
        .option {
          width: 258.7px;
          height: 155.8px;
          //padding: 0;
          margin: 0;
          box-shadow: 0.0px 2.6px 12.5px rgba(0, 0, 0, 0.25);
          border-radius: 9.4px;

          transition: all 300ms;

          //border: 10.4px solid white;
          .logo {
            width: 95.3px;
            height: 82.4px;
            transition: all 300ms;
            margin: 11.5px 0 0 0;
          }
          .logo2 {
            width: 62.5px;
            height: 62.5px;

            padding: 11.5px 0;
            margin: 23.0px 0 0 0;
            transition: all 300ms;
          }
          .flexOnLarge {
            transition: all 300ms;
            //margin: 10.4px 0 23.4px;
            .mutualFund {
              transition: all 300ms;
              font-size: 15.6px;
              line-height: 24.5px;
            }

            .detail {
              font-size: 13.1px;
              line-height: 20.3px;

              transition: all 300ms;
            }
          }
        }

        .bottomStyle {
          width: 219.7px;
          height: 25.1px;
          transition: all 300ms;
        }
      }
    }

    .bottom {
      position: absolute;
      top: 242.3px;
      transform: translateX(-58%);

      .text {
        font-size: 15.6px;
        line-height: 23.4px;

        margin: 26.0px 0 0;
      }

      .askButton {
        width: 184.4px;
        height: 45.8px;
        background: #27BCC0;
        box-shadow: 0.0px 2.6px 12.5px rgba(0, 0, 0, 0.25);
        border-radius: 4.2px;

        font-size: 15.6px;
        line-height: 24.0px;

        margin: 13.5px 0 0;
        padding: 12.0px 14.6px 9.9px;
        border: none;
        outline: none;
      }

      .askButton::selection {
        border: none;
        outline: none;
      }
    }


  }

  .step3 {
    .text1 {
      font-size: 26.0px;
      line-height: 40.6px;
      height: 40.6px;

      margin: 24.0px 0 2.1px;
      padding: 0;
    }

    .text2 {
      font-size: 15.6px;
      line-height: 23.4px;
      margin: 7.8px 17.2px 2.1px;
      //width: 153.7px;
      height: 23.4px;
    }

    .form {
      margin-top: 12.0px;

    }

    .input {
      width: 329.7px;
      height: 52.1px;

      margin: 11.7px auto 0;
      border-radius: 10.4px;
      color: #333947;

      font-size: 15.6px;
      line-height: 26.0px;
    }

    .input::placeholder {
      font-size: 10.4px;
      line-height: 15.6px;
      color: #545D75;
    }

    .input:focus {
      border: 2.1px solid #25BDBE;
      box-sizing: border-box;
      border-radius: 10.4px;
    }

    .input::selection, askButton2::selection {
      outline: none;
    }

    .askButton2 {
      width: 137.6px;
      height: 47.4px;
      border-radius: 10.4px;

      outline: none;
      border: none;

      font-size: 13.1px;
      line-height: 19.8px;
      color: #FFFFFF;

      margin-top: 16.7px;
      padding: 6.3px 6.8px;
    }
  }
}

@media (min-width: 1200px) {
  .step {
    position: relative;

    .question {
      font-size: 31.5px;
      line-height: 49.2px;
      margin: 32.2px 0 2.5px;
      padding: 0;
    }

    .options {
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-top: 25.2px;

      .optionWrapper {
        height: fit-content;
        padding: 0 11.7px;


        //border: 12.6px solid white;

        .option {
          width: 313.2px;
          height: 188.6px;
          width: 293.4px;
          height: 176.7px;
          background: #FEFEFE;
          box-shadow: 0.0px 3.1px 15.1px rgba(0, 0, 0, 0.25);
          border-radius: 6.3px;


          //margin: 13.2px auto 0;
          margin: 6.3px auto 0;
          display: block;
          position: relative;
          z-index: 1;

          .logo {
            width: 89.0px;
            height: 77.0px;

            margin: 23.3px 0 0 0;
          }

          .logo2 {
            //width: 31.5px;
            //height: 31.5px;
            background: #FFFFFF;
            border: 1.3px solid #25BDBE;
            box-sizing: border-box;
            box-shadow: 0.0px 2.5px 2.5px rgba(0, 0, 0, 0.25), inset 0.0px -5.7px 6.9px rgba(37, 189, 190, 0.21);
            border-radius: 50%;

            padding: 13.9px 0;
            //margin: 9.5px 13.9px 9.5px 13.2px;

            width: 75.7px;
            height: 75.7px;

            margin: 23.3px 0 0 0;
          }

          .flexOnLarge {
            display: flex;
            justify-content: center;
            align-items: center;

            margin: 18.9px 0 28.3px;

            .mutualFund {
              font-size: 15.1px;
              line-height: 24.0px;
              color: #1A1061;
              margin-bottom: 0;
            }

            .detail {
              font-weight: 600;
              font-size: 12.0px;
              color: #1B1464;
              opacity: 0.8;

              margin-right: 9.5px;
              margin-bottom: 0;
            }
          }

        }

        .bottomStyle {
          //position: absolute;
          //bottom: -69.4px;
          //left: 7%;
          width: 249.2px;
          height: 28.3px;
          margin: 0 auto;
          transform: translateY(-19.6px);

          background: #25BDBE;
          box-shadow: 0.0px 3.1px 15.1px rgba(0, 0, 0, 0.25);
          border-radius: 11.4px;
          z-index: -1;

        }
      }

      .optionWrapper:hover {
        //margin: 6.3px 0 0;
        padding: 0 1.9px;
        transition: all 300ms;
        //border: 0.6px solid white;
        .option {
          width: 313.2px;
          height: 188.6px;
          //padding: 0;
          margin: 0;
          box-shadow: 0.0px 3.1px 15.1px rgba(0, 0, 0, 0.25);
          border-radius: 11.4px;

          transition: all 300ms;

          //border: 12.6px solid white;
          .logo {
            width: 115.4px;
            height: 99.7px;
            transition: all 300ms;
            margin: 13.9px 0 0 0;
          }
          .logo2 {
            width: 75.7px;
            height: 75.7px;

            padding: 13.9px 0;
            margin: 27.8px 0 0 0;
            transition: all 300ms;
          }
          .flexOnLarge {
            transition: all 300ms;
            //margin: 12.6px 0 28.3px;
            .mutualFund {
              transition: all 300ms;
              font-size: 18.9px;
              line-height: 29.7px;
            }

            .detail {
              font-size: 15.8px;
              line-height: 24.6px;

              transition: all 300ms;
            }
          }
        }

        .bottomStyle {
          width: 266.0px;
          height: 30.4px;
          transition: all 300ms;
        }
      }
    }

    .bottom {
      position: absolute;
      top: 293.4px;
      transform: translateX(-58%);

      .text {
        font-size: 18.9px;
        line-height: 28.3px;

        margin: 31.5px 0 0;
      }

      .askButton {
        width: 223.3px;
        height: 55.5px;
        background: #27BCC0;
        box-shadow: 0.0px 3.1px 15.1px rgba(0, 0, 0, 0.25);
        border-radius: 5.1px;

        font-size: 18.9px;
        line-height: 29.0px;

        margin: 16.4px 0 0;
        padding: 14.5px 17.7px 12.0px;
        border: none;
        outline: none;
      }

      .askButton::selection {
        border: none;
        outline: none;
      }
    }


  }

  .step3 {
    .text1 {
      font-size: 31.5px;
      line-height: 49.2px;
      height: 49.2px;

      margin: 29.0px 0 2.5px;
      padding: 0;
    }

    .text2 {
      font-size: 18.9px;
      line-height: 28.3px;
      margin: 9.5px 20.8px 2.5px;
      //width: 186.1px;
      height: 28.3px;
    }

    .form {
      margin-top: 14.5px;

    }

    .input {
      width: 399.2px;
      height: 63.1px;

      margin: 14.2px auto 0;
      border-radius: 12.6px;
      color: #333947;

      font-size: 18.9px;
      line-height: 31.5px;
    }

    .input::placeholder {
      font-size: 12.6px;
      line-height: 18.9px;
      color: #545D75;
    }

    .input:focus {
      border: 2.5px solid #25BDBE;
      box-sizing: border-box;
      border-radius: 12.6px;
    }

    .input::selection, askButton2::selection {
      outline: none;
    }

    .askButton2 {
      width: 166.6px;
      height: 57.4px;
      border-radius: 12.6px;

      outline: none;
      border: none;

      font-size: 15.8px;
      line-height: 24.0px;
      color: #FFFFFF;

      margin-top: 20.2px;
      padding: 7.6px 8.2px;
    }
  }
}

@media (min-width: 1371px) {
  .step {
    position: relative;

    .question {
      font-size: 36.0px;
      line-height: 56.2px;
      margin: 36.8px 0 2.9px;
      padding: 0;
    }

    .options {
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-top: 28.8px;

      .optionWrapper {
        height: fit-content;
        padding: 0 13.4px;


        //border: 14.4px solid white;

        .option {
          width: 357.9px;
          height: 215.5px;
          width: 335.3px;
          height: 201.9px;
          background: #FEFEFE;
          box-shadow: 0.0px 3.6px 17.3px rgba(0, 0, 0, 0.25);
          border-radius: 7.2px;


          //margin: 15.1px auto 0;
          margin: 7.2px auto 0;
          display: block;
          position: relative;
          z-index: 1;

          .logo {
            width: 101.7px;
            height: 88.0px;

            margin: 26.6px 0 0 0;
          }

          .logo2 {
            //width: 36.0px;
            //height: 36.0px;
            background: #FFFFFF;
            border: 1.5px solid #25BDBE;
            box-sizing: border-box;
            box-shadow: 0.0px 2.9px 2.9px rgba(0, 0, 0, 0.25), inset 0.0px -6.5px 7.9px rgba(37, 189, 190, 0.21);
            border-radius: 50%;

            padding: 15.9px 0;
            //margin: 10.8px 15.9px 10.8px 15.1px;

            width: 86.5px;
            height: 86.5px;

            margin: 26.6px 0 0 0;
          }

          .flexOnLarge {
            display: flex;
            justify-content: center;
            align-items: center;

            margin: 21.6px 0 32.4px;

            .mutualFund {
              font-size: 17.3px;
              line-height: 27.4px;
              color: #1A1061;
              margin-bottom: 0;
            }

            .detail {
              font-weight: 600;
              font-size: 13.7px;
              color: #1B1464;
              opacity: 0.8;

              margin-right: 10.8px;
              margin-bottom: 0;
            }
          }

        }

        .bottomStyle {
          //position: absolute;
          //bottom: -79.3px;
          //left: 7%;
          width: 284.8px;
          height: 32.4px;
          margin: 0 auto;
          transform: translateY(-22.4px);

          background: #25BDBE;
          box-shadow: 0.0px 3.6px 17.3px rgba(0, 0, 0, 0.25);
          border-radius: 13.0px;
          z-index: -1;

        }
      }

      .optionWrapper:hover {
        //margin: 7.2px 0 0;
        padding: 0 2.2px;
        transition: all 300ms;
        //border: 0.7px solid white;
        .option {
          width: 357.9px;
          height: 215.5px;
          //padding: 0;
          margin: 0;
          box-shadow: 0.0px 3.6px 17.3px rgba(0, 0, 0, 0.25);
          border-radius: 13.0px;

          transition: all 300ms;

          //border: 14.4px solid white;
          .logo {
            width: 131.9px;
            height: 113.9px;
            transition: all 300ms;
            margin: 15.9px 0 0 0;
          }
          .logo2 {
            width: 86.5px;
            height: 86.5px;

            padding: 15.9px 0;
            margin: 31.8px 0 0 0;
            transition: all 300ms;
          }
          .flexOnLarge {
            transition: all 300ms;
            //margin: 14.4px 0 32.4px;
            .mutualFund {
              transition: all 300ms;
              font-size: 21.6px;
              line-height: 33.9px;
            }

            .detail {
              font-size: 18.1px;
              line-height: 28.1px;

              transition: all 300ms;
            }
          }
        }

        .bottomStyle {
          width: 304.0px;
          height: 34.7px;
          transition: all 300ms;
        }
      }
    }

    .bottom {
      position: absolute;
      top: 335.3px;
      transform: translateX(-59%);

      .text {
        font-size: 21.6px;
        line-height: 32.4px;

        margin: 36.0px 0 0;
      }

      .askButton {
        width: 255.2px;
        height: 63.4px;
        background: #27BCC0;
        box-shadow: 0.0px 3.6px 17.3px rgba(0, 0, 0, 0.25);
        border-radius: 5.8px;

        font-size: 21.6px;
        line-height: 33.1px;

        margin: 18.7px 0 0;
        padding: 16.6px 20.2px 13.7px;
        border: none;
        outline: none;
      }

      .askButton::selection {
        border: none;
        outline: none;
      }
    }


  }

  .step3 {
    .text1 {
      font-size: 36.0px;
      line-height: 56.2px;
      height: 56.2px;

      margin: 33.1px 0 2.9px;
      padding: 0;
    }

    .text2 {
      font-size: 21.6px;
      line-height: 32.4px;
      margin: 10.8px 23.8px 2.9px;
      //width: 212.7px;
      height: 32.4px;
    }

    .form {
      margin-top: 16.6px;

    }

    .input {
      width: 456.2px;
      height: 72.1px;

      margin: 16.2px auto 0;
      border-radius: 14.4px;
      color: #333947;

      font-size: 21.6px;
      line-height: 36.0px;
    }

    .input::placeholder {
      font-size: 14.4px;
      line-height: 21.6px;
      color: #545D75;
    }

    .input:focus {
      border: 2.9px solid #25BDBE;
      box-sizing: border-box;
      border-radius: 14.4px;
    }

    .input::selection, askButton2::selection {
      outline: none;
    }

    .askButton2 {
      width: 190.4px;
      height: 65.6px;
      border-radius: 14.4px;

      outline: none;
      border: none;

      font-size: 18.1px;
      line-height: 27.4px;
      color: #FFFFFF;

      margin-top: 23.1px;
      padding: 8.7px 9.4px;
    }
  }
}
@media (min-width: 1691px) {
  .step {
    position: relative;

    .question {
      font-size: 44.5px;
      line-height: 69.4px;
      margin: 45.4px 0 3.6px;
      padding: 0;
    }

    .options {
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-top: 35.6px;

      .optionWrapper {
        height: fit-content;
        padding: 0 16.5px;


        //border: 17.8px solid white;

        .option {
          width: 441.8px;
          height: 266.0px;
          width: 413.9px;
          height: 249.2px;
          background: #FEFEFE;
          box-shadow: 0.0px 4.5px 21.4px rgba(0, 0, 0, 0.25);
          border-radius: 8.9px;


          //margin: 18.7px auto 0;
          margin: 8.9px auto 0;
          display: block;
          position: relative;
          z-index: 1;

          .logo {
            width: 125.5px;
            height: 108.6px;

            margin: 32.9px 0 0 0;
          }

          .logo2 {
            //width: 44.5px;
            //height: 44.5px;
            background: #FFFFFF;
            border: 1.8px solid #25BDBE;
            box-sizing: border-box;
            box-shadow: 0.0px 3.6px 3.6px rgba(0, 0, 0, 0.25), inset 0.0px -8.0px 9.8px rgba(37, 189, 190, 0.21);
            border-radius: 50%;

            padding: 19.6px 0;
            //margin: 13.3px 19.6px 13.3px 18.7px;

            width: 106.8px;
            height: 106.8px;

            margin: 32.9px 0 0 0;
          }

          .flexOnLarge {
            display: flex;
            justify-content: center;
            align-items: center;

            margin: 26.7px 0 40.0px;

            .mutualFund {
              font-size: 21.4px;
              line-height: 33.8px;
              color: #1A1061;
              margin-bottom: 0;
            }

            .detail {
              font-weight: 600;
              font-size: 16.9px;
              color: #1B1464;
              opacity: 0.8;

              margin-right: 13.3px;
              margin-bottom: 0;
            }
          }

        }

        .bottomStyle {
          //position: absolute;
          //bottom: -97.9px;
          //left: 7%;
          width: 351.6px;
          height: 40.0px;
          margin: 0 auto;
          transform: translateY(-27.6px);

          background: #25BDBE;
          box-shadow: 0.0px 4.5px 21.4px rgba(0, 0, 0, 0.25);
          border-radius: 16.0px;
          z-index: -1;

        }
      }

      .optionWrapper:hover {
        //margin: 8.9px 0 0;
        padding: 0 2.7px;
        transition: all 300ms;
        //border: 0.9px solid white;
        .option {
          width: 441.8px;
          height: 266.0px;
          //padding: 0;
          margin: 0;
          box-shadow: 0.0px 4.5px 21.4px rgba(0, 0, 0, 0.25);
          border-radius: 16.0px;

          transition: all 300ms;

          //border: 17.8px solid white;
          .logo {
            width: 162.9px;
            height: 140.6px;
            transition: all 300ms;
            margin: 19.6px 0 0 0;
          }
          .logo2 {
            width: 106.8px;
            height: 106.8px;

            padding: 19.6px 0;
            margin: 39.2px 0 0 0;
            transition: all 300ms;
          }
          .flexOnLarge {
            transition: all 300ms;
            //margin: 17.8px 0 40.0px;
            .mutualFund {
              transition: all 300ms;
              font-size: 26.7px;
              line-height: 41.8px;
            }

            .detail {
              font-size: 22.3px;
              line-height: 34.7px;

              transition: all 300ms;
            }
          }
        }

        .bottomStyle {
          width: 375.3px;
          height: 42.8px;
          transition: all 300ms;
        }
      }
    }

    .bottom {
      position: absolute;
      top: 413.9px;
      //transform: translateX(-50%);

      .text {
        font-size: 26.7px;
        line-height: 40.0px;

        margin: 44.5px 0 0;
      }

      .askButton {
        width: 315.1px;
        height: 78.3px;
        background: #27BCC0;
        box-shadow: 0.0px 4.5px 21.4px rgba(0, 0, 0, 0.25);
        border-radius: 7.1px;

        font-size: 26.7px;
        line-height: 40.9px;

        margin: 23.1px 0 0;
        padding: 20.5px 24.9px 16.9px;
        border: none;
        outline: none;
      }

      .askButton::selection {
        border: none;
        outline: none;
      }
    }


  }

  .step3 {
    .text1 {
      font-size: 44.5px;
      line-height: 69.4px;
      height: 69.4px;

      margin: 40.9px 0 3.6px;
      padding: 0;
    }

    .text2 {
      font-size: 26.7px;
      line-height: 40.0px;
      margin: 13.3px 29.4px 3.6px;
      //width: 262.6px;
      height: 40.0px;
    }

    .form {
      margin-top: 20.5px;

    }

    .input {
      width: 563.2px;
      height: 89.0px;

      margin: 20.0px auto 0;
      border-radius: 17.8px;
      color: #333947;

      font-size: 26.7px;
      line-height: 44.5px;
    }

    .input::placeholder {
      font-size: 17.8px;
      line-height: 26.7px;
      color: #545D75;
    }

    .input:focus {
      border: 3.6px solid #25BDBE;
      box-sizing: border-box;
      border-radius: 17.8px;
    }

    .input::selection, askButton2::selection {
      outline: none;
    }

    .askButton2 {
      width: 235.0px;
      height: 81.0px;
      border-radius: 17.8px;

      outline: none;
      border: none;

      font-size: 22.3px;
      line-height: 33.8px;
      color: #FFFFFF;

      margin-top: 28.5px;
      padding: 10.7px 11.6px;
    }
  }
}
@media (min-width: 1900px) {
  .step {
    position: relative;

    .question {
      font-size: 50px;
      line-height: 78px;
      margin: 51px 0 4px;
      padding: 0;
    }

    .options {
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-top: 40px;

      .optionWrapper {
        height: fit-content;
        padding: 0 18.5px;


        //border: 20px solid white;

        .option {
          width: 496.42px;
          height: 298.92px;
          width: 465px;
          height: 280px;
          background: #FEFEFE;
          box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.25);
          border-radius: 10px;


          //margin: 21px auto 0;
          margin: 10px auto 0;
          display: block;
          position: relative;
          z-index: 1;

          .logo {
            width: 141px;
            height: 122px;

            margin: 37px 0 0 0;
          }

          .logo2 {
            //width: 50px;
            //height: 50px;
            background: #FFFFFF;
            border: 2px solid #25BDBE;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -9px 11px rgba(37, 189, 190, 0.21);
            border-radius: 50%;

            padding: 22px 0;
            //margin: 15px 22px 15px 21px;

            width: 120px;
            height: 120px;

            margin: 37px 0 0 0;
          }

          .flexOnLarge {
            display: flex;
            justify-content: center;
            align-items: center;

            margin: 30px 0 45px;

            .mutualFund {
              font-size: 24px;
              line-height: 38px;
              color: #1A1061;
              margin-bottom: 0;
            }

            .detail {
              font-weight: 600;
              font-size: 19px;
              color: #1B1464;
              opacity: 0.8;

              margin-right: 15px;
              margin-bottom: 0;
            }
          }

        }

        .bottomStyle {
          //position: absolute;
          //bottom: -110px;
          //left: 7%;
          width: 395px;
          height: 45px;
          margin: 0 auto;
          transform: translateY(-31px);

          background: #25BDBE;
          box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.25);
          border-radius: 18px;
          z-index: -1;

        }
      }

      .optionWrapper:hover {
        //margin: 10px 0 0;
        padding: 0 3px;
        transition: all 300ms;
        //border: 1px solid white;
        .option {
          width: 496.42px;
          height: 298.92px;
          //padding: 0;
          margin: 0;
          box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.25);
          border-radius: 18px;

          transition: all 300ms;

          //border: 20px solid white;
          .logo {
            width: 183px;
            height: 158px;
            transition: all 300ms;
            margin: 22px 0 0 0;
          }
          .logo2 {
            width: 120px;
            height: 120px;

            padding: 22px 0;
            margin: 44px 0 0 0;
            transition: all 300ms;
          }
          .flexOnLarge {
            transition: all 300ms;
            //margin: 20px 0 45px;
            .mutualFund {
              transition: all 300ms;
              font-size: 30px;
              line-height: 47px;
            }

            .detail {
              font-size: 25px;
              line-height: 39px;

              transition: all 300ms;
            }
          }
        }

        .bottomStyle {
          width: 421.69px;
          height: 48.04px;
          transition: all 300ms;
        }
      }
    }

    .bottom {
      position: absolute;
      top: 465px;
      transform: translateX(-50%);

      .text {
        font-size: 30px;
        line-height: 45px;

        margin: 50px 0 0;
      }

      .askButton {
        width: 354px;
        height: 88px;
        background: #27BCC0;
        box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.25);
        border-radius: 8px;

        font-size: 30px;
        line-height: 46px;

        margin: 26px 0 0;
        padding: 23px 28px 19px;
        border: none;
        outline: none;
      }

      .askButton::selection {
        border: none;
        outline: none;
      }
    }


  }

  .step3 {
    .text1 {
      font-size: 50px;
      line-height: 78px;
      height: 78px;

      margin: 46px 0 4px;
      padding: 0;
    }

    .text2 {
      font-size: 30px;
      line-height: 45px;
      margin: 15px 33px 4px;
      //width: 295px;
      height: 45px;
    }

    .form {
      margin-top: 23px;

    }

    .input {
      width: 632.81px;
      height: 100.05px;

      margin: 22.5px auto 0;
      border-radius: 20px;
      color: #333947;

      font-size: 30px;
      line-height: 50px;
    }

    .input::placeholder {
      font-size: 20px;
      line-height: 30px;
      color: #545D75;
    }

    .input:focus {
      border: 4px solid #25BDBE;
      box-sizing: border-box;
      border-radius: 20px;
    }

    .input::selection, askButton2::selection {
      outline: none;
    }

    .askButton2 {
      width: 264px;
      height: 91px;
      border-radius: 20px;

      outline: none;
      border: none;

      font-size: 25px;
      line-height: 38px;
      color: #FFFFFF;

      margin-top: 32px;
      padding: 12px 13px;
    }
  }
}