.wrapper{
    background: #E5E5E5;
    text-align: center;

    /*position: relative;*/
    padding: 0 27px;
}
.laptopBackground{
    background: url("/images/laptop.svg");
    width: 351.1px;
    height: 207.05px;
    margin: 0 auto;
    background-size: cover;
}
.title{
    font-family: Dana;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    /*display: flex;*/
    /*align-items: center;*/
    /*text-align: right;*/
    letter-spacing: -0.015em;

    color: #1A1061;

    /*position: absolute;*/
    padding: 29px 0 25px;
    margin: 0;
}
.displayOnLarge{
    display: none;
}
.description{
    padding: 22px 0;

    font-family: Dana;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    /*line-height: 246%;*/
    line-height: 366%;
    /* or 30px */
    height: 310px;

    text-align: center;

    color: #4E4E4E;
}
.wrapper{}

@media (min-width: 576px) {

}
@media (min-width: 768px) {
    .wrapper{
        display: flex;
        flex-direction: row-reverse;
        /*align-items: start;*/

        justify-content: flex-end;

        position: relative;
        height: 838px;
        padding: 0 60px;
    }
    .displayOnLarge{
        display: block;
    }
    .displayOnSmall{
        display: none;
    }

    .topOrLeft{
        position: absolute;
        top: 0;
        left: 0;
    }
    .bottomOrRight{
        /*position: absolute;*/
        /*top: 0;*/
        /*right: 0;*/
    }

    .title{
        margin: 50px 0 0;
        padding: 0;
        font-size: 24px;
        line-height: 78px;
        display: flex;
    }
    .displayOnSmall{
        display: none;
    }
    .description{
        width: 360px;
        /*height: 174px;*/
        font-size: 13px;
        line-height: 246%;
        /* or 59px */
        color: #4E4E4E;
        padding: 0;
        margin: 0;
        text-align: right;
    }

    .laptopBackground{
        width: 340px;
        height: 201px;
        margin: 110px 0 0 20px;
        /*width: 30vw;*/
    }
}
@media (min-width: 992px) {
    .wrapper{
        padding: 0 80px;
    }

    .description{
        width: 460px;
        /*height: 174px;*/
        font-size: 13px;
        line-height: 246%;
        /* or 59px */
        color: #4E4E4E;
        padding: 0;
        margin: 0;
        text-align: right;
    }
    .laptopBackground{
        width: 427px;
        height: 251px;
        margin: 90px 0 0 60px;
        /*width: 30vw;*/
    }

}
@media (min-width: 1200px) {
    .wrapper{
        padding: 0 120px;
    }
}
@media (min-width: 1900px) {
    .wrapper{
        position: relative;
        height: 838px;
        padding: 0 140px;
    }
    .topOrLeft{
        position: absolute;
        top: 0;
        left: 0;
    }
    .bottomOrRight{
        /*position: absolute;*/
        /*top: 0;*/
        /*right: 0;*/
    }
    .title{
        margin: 162px 0 0 0;
        padding: 0;
        font-size: 50px;
        line-height: 78px;
        display: flex;
    }
    .displayOnSmall{
        display: none;
    }
    .description{
        width: 920px;
        height: 274px;
        font-size: 24px;
        line-height: 246%;
        /* or 59px */
        color: #4E4E4E;
        padding: 0;
        margin: 0;
        text-align: right;

    }
    .laptopBackground{
        width: 854px;
        height: 503.62px;
        margin: 157px 0 0 56px;
    }

}