.wrapper{
    background: #E5E5E5;
    text-align: center;

    overflow: hidden;
    height: fit-content;
}
.laptopBackground{
    background: url("/images/laptop.svg");
    width: 340px;
    height: 200px;
    /*width: 86vw;*/
    /*height: 19vh;*/
    margin: 0 auto;
    background-size: cover;
}
.title{
    font-family: Dana;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    /*display: flex;*/
    /*align-items: center;*/
    /*text-align: right;*/
    letter-spacing: -0.015em;

    color: #1A1061;

    /*position: absolute;*/
    padding: 29px 0 25px;
    margin: 0;
}

.displayOnLarge{
    display: none;
}
.description{
    /*padding: 22px 0;*/

    font-family: Dana;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    /*line-height: 246%;*/
    line-height: 366%;
    /* or 30px */
    /*height: 310px;*/

    /*width: 306px;*/
    margin: 22px 10px ;

    text-align: center;

    color: #4E4E4E;
}
.darkBlue{
    color: #1A1061;
    font-weight: 700;
}
.lightBlue{
    color: rgb(50,193,194);
    font-weight: 700;
}

@media (min-width: 405px) {
    .laptopBackground{
        background: url("/images/laptop.svg");
        width: 351.1px;
        height: 207.05px;
        margin: 0 auto;
        background-size: cover;
    }
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {
    .wrapper .container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;

    }
    .displayOnLarge{
        display: block;
    }
    .displayOnSmall{
        display: none;
    }

    .topOrLeft{
        top: 0;
        left: 0;
    }

    .title{
        display: flex;
    }
    .displayOnSmall{
        display: none;
    }
    .wrapper{
        /*position: relative;*/
        /*height: 358.5px;*/
        height: fit-content;
        /*padding: 0 59.9px;*/
        padding: 69.3px 0 107.0px;
    }
    .topOrLeft{
        /*position: absolute;*/
        top: 0;
        left: 0;
    }
    .bottomOrRight{
        /*position: absolute;*/
        /*top: 0;*/
        /*right: 0;*/
    }
    .title{
        margin: 0;
        padding: 0;
        font-size: 21.4px;
        line-height: 33.3px;
        display: flex;
    }
    .displayOnSmall{
        display: none;
    }
    .description{
        width: 393.5px;
        height: 117.2px;
        font-size: 10.3px;
        line-height: 246%;
        /* or 25.3px */
        color: #4E4E4E;
        padding: 0;
        margin: 0;
        text-align: right;

    }
    .laptopBackground{
        width: 365.3px;
        height: 215.4px;
        margin: 0 -25.7px 0 0;
    }

}
@media (min-width: 992px) {
    .wrapper{
        /*position: relative;*/
        /*height: 465.6px;*/
        height: fit-content;
        /*padding: 0 77.8px;*/
        padding: 90.0px 0 138.9px;
    }
    .topOrLeft{
        /*position: absolute;*/
        top: 0;
        left: 0;
    }
    .bottomOrRight{
        /*position: absolute;*/
        /*top: 0;*/
        /*right: 0;*/
    }
    .title{
        margin: 0;
        padding: 0;
        font-size: 27.8px;
        line-height: 43.3px;
        display: flex;
    }
    .displayOnSmall{
        display: none;
    }
    .description{
        width: 511.1px;
        height: 152.2px;
        font-size: 13.4px;
        line-height: 246%;
        /* or 32.8px */
        color: #4E4E4E;
        padding: 0;
        margin: 0;
        text-align: right;

    }
    .laptopBackground{
        width: 474.4px;
        height: 279.8px;
        margin: 0 -33.4px 0 0;
    }

}
@media (min-width: 1200px) {
    .wrapper{
        /*position: relative;*/
        /*height: 561.0px;*/
        height: fit-content;
        /*padding: 0 93.7px;*/
        padding: 108.4px 0 167.4px;
    }
    .topOrLeft{
        /*position: absolute;*/
        top: 0;
        left: 0;
    }
    .bottomOrRight{
        /*position: absolute;*/
        /*top: 0;*/
        /*right: 0;*/
    }
    .title{
        margin: 0;
        padding: 0;
        font-size: 33.5px;
        line-height: 52.2px;
        display: flex;
    }
    .displayOnSmall{
        display: none;
    }
    .description{
        width: 615.8px;
        height: 183.4px;
        font-size: 16.1px;
        line-height: 246%;
        /* or 39.5px */
        color: #4E4E4E;
        padding: 0;
        margin: 0;
        text-align: right;

    }
    .laptopBackground{
        width: 571.6px;
        height: 337.1px;
        margin: 0 -40.2px 0 0;
    }
}
@media (min-width: 1371px) {
    .wrapper{
        /*position: relative;*/
        /*height: 641.1px;*/
        height: fit-content;
        /*padding: 0 107.1px;*/
        padding: 123.9px 0 191.3px;
    }
    .topOrLeft{
        /*position: absolute;*/
        top: 0;
        left: 0;
    }
    .bottomOrRight{
        /*position: absolute;*/
        /*top: 0;*/
        /*right: 0;*/
    }
    .title{
        margin: 0;
        padding: 0;
        font-size: 38.3px;
        line-height: 59.7px;
        display: flex;
    }
    .displayOnSmall{
        display: none;
    }
    .description{
        width: 703.8px;
        height: 209.6px;
        font-size: 18.4px;
        line-height: 246%;
        /* or 45.1px */
        color: #4E4E4E;
        padding: 0;
        margin: 0;
        text-align: right;

    }
    .laptopBackground{
        width: 653.3px;
        height: 385.3px;
        margin: 0 -45.9px 0 0;
    }
}
@media (min-width: 1690px) {
    .wrapper{
        /*position: relative;*/
        /*height: 754.2px;*/
        height: fit-content;
        /*padding: 0 126.0px;*/
        padding: 145.8px 0 225.0px;
    }
    .topOrLeft{
        /*position: absolute;*/
        top: 0;
        left: 0;
    }
    .bottomOrRight{
        /*position: absolute;*/
        /*top: 0;*/
        /*right: 0;*/
    }
    .title{
        margin: 0;
        padding: 0;
        font-size: 45.0px;
        line-height: 70.2px;
        display: flex;
    }
    .displayOnSmall{
        display: none;
    }
    .description{
        width: 828.0px;
        height: 246.6px;
        font-size: 21.6px;
        line-height: 246%;
        /* or 53.1px */
        color: #4E4E4E;
        padding: 0;
        margin: 0;
        text-align: right;

    }
    .laptopBackground{
        width: 768.6px;
        height: 453.3px;
        margin: 0 -54.0px 0 0;
    }
}
@media (min-width: 1900px) {
    .wrapper{
        /*position: relative;*/
        /*height: 838px;*/
        height: fit-content;
        /*padding: 0 140px;*/
        padding: 162px 0 250px;
    }
    .topOrLeft{
        /*position: absolute;*/
        top: 0;
        left: 0;
    }
    .bottomOrRight{
        /*position: absolute;*/
        /*top: 0;*/
        /*right: 0;*/
    }
    .title{
        margin: 0;
        padding: 0;
        font-size: 50px;
        line-height: 78px;
        display: flex;
    }
    .displayOnSmall{
        display: none;
    }
    .description{
        width: 920px;
        height: 274px;
        font-size: 24px;
        line-height: 246%;
        /* or 59px */
        color: #4E4E4E;
        padding: 0;
        margin: 0;
        text-align: right;

    }
    .laptopBackground{
        width: 854px;
        height: 503.62px;
        margin: 0 -60px 0 0;
    }

}