.wrapper{
  margin: 74px auto;
  text-align: center;
  .box {
    background: url("/images/section10/bg-box-mobile-size.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px 0;

    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      color: #1A1061;

      margin: 0;
      padding: 47px 0 0;
    }

    .actionButton {
      width: 238px;
      height: 63px;
      background: #25BDBE;
      box-shadow: 0px 10px 20px rgba(31, 177, 139, 0.35);
      border-radius: 12px;

      border: none;
      outline: none;

      margin: 26px auto 0;

      font-family: Dana;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 25px;


      color: #FFFFFF;
    }

    .actionButton:hover {
      background: #1A1061;
    }
    .actionButton::selection {
      border: none;
      outline: none;
      background: #1A1061;
    }

    .info {
      display: flex;
      width: 150px;
      margin: 28px auto 0;
      justify-content: center;
      flex-direction: column;

      .email {
        display: flex;
        //justify-content: center;
        margin: 0;
        direction: ltr;

        .emailAddress {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 22px;
          color: #1A1061;

          margin: 0;
          padding: 0 0 0 10px;
        }

      }

      .phone {
        display: flex;
        //justify-content: center;
        margin: 16px 0 15px 0;
        direction: ltr;

        .phoneNumber {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 22px;
          color: #1A1061;

          margin: 0;
          padding: 0 0 0 10px;
          direction: ltr !important;
        }
      }

    }
  }

}

@media (min-width: 355px) {
  .wrapper {
    .box {
      padding: 40px 0;
    }
  }
}
@media (min-width: 400px) {
  .wrapper {
    .box {
      padding: 60px 0;
    }
  }
}
@media (min-width: 445px) {
  .wrapper {
    .box {
      padding: 80px 0;
    }
  }
}
@media (min-width: 485px) {
  .wrapper {
    .box {
      padding: 100px 0;
    }
  }
}
@media (min-width: 530px) {
  .wrapper {
    .box {
      padding: 120px 0;
    }
  }
}

@media (min-width: 576px) {
  .wrapper{
    .title{
      font-size: 22px;
      line-height: 35px;
      margin: 0;
      padding: 20vw 0 0;
    }
    .actionButton{
      margin: 50px auto 0;
    }
    .info{
      display: flex;
      width: fit-content;
      margin: 40px auto 0;

      .email{
        display: flex;
        margin: 16px 0 0 0;
        direction: ltr;
        img{
          width: 37.28px;
          height: 37.28px;
        }
        .emailAddress{
          font-size: 18px;
          line-height: 38px;
          margin: 0;
          padding: 0 0 0 10px;
        }
      }
      .phone{
        display: flex;
        //justify-content: center;
        margin: 16px 0 0 0;
        direction: ltr;
        img{
          width: 37.28px;
          height: 37.28px;
        }
        .phoneNumber{
          font-size: 18px;
          line-height: 38px;
          margin: 0;
          padding: 0 0 0 10px;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .wrapper{
    width: 100%;
    margin: 79.8px 0;
    padding: 0;
    text-align: center;
    .box{
      background: url("/images/section10/bg-box-large-size.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      padding: 86.2px 0;

      .title{
        font-size: 20.9px;
        line-height: 32.9px;
        margin: 0;
        padding: 36.5px 0 0;
      }
      .actionButton{
        width: 157.7px;
        height: 37.1px;
        margin: 18.3px auto 3.7px;
        font-family: IRANYekanWeb;
        font-style: normal;
        font-weight: normal;
        font-size: 12.5px;
        line-height: 21.4px;
        color: #FFFFFF;
      }
      .actionButton::selection{
        border: none;
        outline: none;
      }
      .info{
        display: flex;
        width: fit-content;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: center;
        height: fit-content;
        margin: 26.1px auto 0;
        .email{
          display: flex;
          margin: 0;
          direction: ltr;
          img{
            width: 19.5px;
            height: 19.5px;
          }
          .emailAddress{
            font-weight: 500;
            font-size: 9.3px;
            line-height: 19.9px;
            margin: 0;
            padding: 0 23.5px 0 5.2px;
          }
        }
        .phone{
          display: flex;
          margin: 0;
          direction: ltr;
          img{
            width: 19.5px;
            height: 19.5px;
          }
          .phoneNumber{
            font-weight: normal;
            font-size: 9.3px;
            line-height: 19.9px;
            margin: 0;
            padding: 0 0 0 5.2px;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .wrapper{
    margin: 93.9px 0;
    .box{
      padding: 101.4px 0;
      .title{
        font-size: 24.6px;
        line-height: 38.7px;
        margin: 0;
        padding: 43.0px 0 0;
      }
      .actionButton{
        width: 185.5px;
        height: 43.6px;
        margin: 21.5px auto 4.3px;
        font-size: 14.7px;
        line-height: 25.2px;
      }
      .info{
        margin: 30.7px auto 0;
        .email{
          img{
            width: 22.9px;
            height: 22.9px;
          }
          .emailAddress{
            font-size: 11.0px;
            line-height: 23.4px;
            padding: 0 27.7px 0 6.1px;
          }
        }
        .phone{
          img{
            width: 22.9px;
            height: 22.9px;
          }
          .phoneNumber{
            font-size: 11.0px;
            line-height: 23.4px;
            padding: 0 0 0 6.1px;
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .wrapper{
    margin: 110.5px 0;
    .box{
      padding: 119.3px 0;
      .title{
        font-size: 28.9px;
        line-height: 45.5px;
        padding: 50.6px 0 0;
      }
      .actionButton{
        width: 218.2px;
        height: 51.3px;
        margin: 25.3px auto 5.1px;
        font-size: 17.3px;
        line-height: 29.7px;
      }
      .info{
        margin: 36.1px auto 0;
        .email{
          img{
            width: 26.9px;
            height: 26.9px;
          }
          .emailAddress{
            font-size: 13.0px;
            line-height: 27.5px;
            padding: 0 32.6px 0 7.2px;
          }
        }
        .phone{
          img{
            width: 26.9px;
            height: 26.9px;
          }
          .phoneNumber{
            font-size: 13.0px;
            line-height: 27.5px;
            padding: 0 0 0 7.2px;
          }
        }
      }
    }
  }
}
@media (min-width: 1371px) {
  .wrapper{
    margin: 130.0px 0;
    .box{
      padding: 140.3px 0;
      .title{
        font-size: 34.0px;
        line-height: 53.5px;
        padding: 59.5px 0 0;
      }
      .actionButton{
        width: 256.7px;
        height: 60.4px;
        margin: 29.8px auto 6.0px;
        font-size: 20.4px;
        line-height: 34.9px;
      }
      .info{
        margin: 42.5px auto 0;
        .email{
          img{
            width: 31.7px;
            height: 31.7px;
          }
          .emailAddress{
            font-size: 15.3px;
            line-height: 32.3px;
            padding: 0 38.3px 0 8.5px;
          }
        }
        .phone{
          img{
            width: 31.7px;
            height: 31.7px;
          }
          .phoneNumber{
            font-size: 15.3px;
            line-height: 32.3px;
            padding: 0 0 0 8.5px;
          }
        }
      }
    }
  }
}
@media (min-width: 1690px) {
  .wrapper{
    margin: 153px 0;
    .box{
      padding: 165px 0;
      .title{
        font-size: 40px;
        line-height: 63px;
        padding: 70px 0 0;
      }
      .actionButton{
        width: 302px;
        height: 71px;
        margin: 35px auto 7px;
        font-size: 24px;
        line-height: 41px;
      }
      .info{
        margin: 50px auto 0;
        .email{
          img{
            width: 37.28px;
            height: 37.28px;
          }
          .emailAddress{
            font-size: 18px;
            line-height: 38px;
            padding: 0 45px 0 10px;
          }
        }
        .phone{
          img{
            width: 37.28px;
            height: 37.28px;
          }
          .phoneNumber{
            font-weight: normal;
            font-size: 18px;
            line-height: 38px;
            padding: 0 0 0 10px;
          }
        }
      }
    }
  }
}

