.wrapper{
  text-align: center;
  margin: 18px 0 0;
  .container{
    background: #FEFEFE;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 12px;
    .title{
      font-family: Dana;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 33px;
      /* identical to box height */
      letter-spacing: -0.015em;

      color: #1A1061;

      margin: 0;
      padding: 30px 0 20px;
    }
    .itemsWrapper{

      .item{
        .icon{
          width: 100px;
          height: 100px;
          margin: 26px 0 18px;
        }
        .itemTitle{
          font-family: Dana;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 22px;
          /* identical to box height */

          color: #1A1061;
        }
        .description{
          font-family: Dana;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 195.5%;
          /* or 23px */
          color: #686868;

          margin: 0 48px;
          padding: 0 0 23px;
          border-bottom: 1px solid #24B8B9;
        }
        .noBorder{
          border: none;
        }
      }
    }
  }


}

@media (min-width: 576px) {
  .wrapper{
    //padding: 0 40px;
  }
}
@media (min-width: 768px) {
  .wrapper {
    background: #F8F8F8;
    text-align: center;
    margin: 0;

    .container{
      background: none;
      box-shadow: none;
      border-radius: 0;
      margin: 0 ;

      .title {
        font-size: 25px;
        line-height: 39px;
        /* identical to box height */
        margin: 0;
        padding: 30px 0 20px;
      }

      .itemsWrapper {
        display: flex;
        .item{
          .icon {
            width: 112px;
            height: 112px;
            margin: 35px 0 35px;
          }

          .itemTitle {
            font-size: 20px;
            line-height: 38px;
          }

          .description {
            font-size: 18px;
            line-height: 195.5%;

            margin: 0 20px;
            padding-bottom: 100px;
            border: none;
            Width: 159.7px;
          }
        }
        .item:hover{
          background: #FEFEFE;
          box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.25);
          border-radius: 18px;
        }

      }
    }



  }
  .wrapper {
    background: #F8F8F8;
    text-align: center;
    margin: 0;
    padding: 18.6px 0 63.5px;
    height: fit-content;
    .container{
      .title {
        font-size: 22.6px;
        line-height: 35.4px;
        /* identical to box height */
        margin: 0;
        padding: 0 0 0;
      }

      .itemsWrapper {
        display: flex;
        justify-content: center;
        margin: 41.3px 0 0;
        padding: 0;
        .item{
          //width: 209.6px;
          padding: 22.2px 22.2px 12.3px 22.2px;
          margin: 0 6px 0;
          .icon {
            width: 69.0px;
            height: 69.0px;
            margin: 0;
          }

          .itemTitle {
            font-size: 10.8px;
            line-height: 17.2px;
            margin: 22.6px 0 0;
          }

          .description {
            font-size: 10.8px;
            line-height: 22.6px;
            margin: 7.8px 0 0;
            padding:0;
          }
        }

      }
    }



  }
}
@media (min-width: 992px) {
  .wrapper {
    background: #F8F8F8;
    text-align: center;
    margin: 0;
    padding: 24.0px 0 81.9px;
    height: fit-content;
    .container{
      .title {
        font-size: 29.2px;
        line-height: 45.7px;
        /* identical to box height */
        margin: 0;
        padding: 0 0 0;
      }

      .itemsWrapper {
        display: flex;
        justify-content: center;
        margin: 53.3px 0 0;
        padding: 0;
        .item{
          //width: 270.4px;
          padding: 28.7px 28.7px 15.9px 28.7px;
          margin: 0;
          .icon {
            width: 89.0px;
            height: 89.0px;
            margin: 0 7px 0;
          }

          .itemTitle {
            font-size: 14.0px;
            line-height: 22.2px;
            margin: 29.2px 0 0;
          }

          .description {
            font-size: 14.0px;
            line-height: 29.2px;
            margin: 10.0px 0 0;
            padding:0;
            Width: 206.3px;
          }
        }

      }
    }



  }
}
@media (min-width: 1200px) {
  .wrapper {
    background: #F8F8F8;
    text-align: center;
    margin: 0;
    padding: 29.1px 0 99.2px;
    height: fit-content;
    .container{
      .title {
        font-size: 35.4px;
        line-height: 55.3px;
        /* identical to box height */
        margin: 0;
        padding: 0 0 0;
      }

      .itemsWrapper {
        display: flex;
        justify-content: center;
        margin: 64.5px 0 0;
        padding: 0;
        .item{
          //width: 327.4px;
          padding: 34.7px 34.7px 19.2px 34.7px;
          margin: 0 8.8px 0;
          .icon {
            width: 107.7px;
            height: 107.7px;
            margin: 0;
          }

          .itemTitle {
            font-size: 17.0px;
            line-height: 26.9px;
            margin: 35.4px 0 0;
          }

          .description {
            font-size: 17.0px;
            line-height: 35.4px;
            margin: 12.1px 0 0;
            padding:0;
            Width: 250px;

          }
        }

      }
    }



  }
}
@media (min-width: 1371px) {
  .wrapper {
    background: #F8F8F8;
    text-align: center;
    margin: 0;
    padding: 33.2px 0 113.4px;
    height: fit-content;
    .container{
      .title {
        font-size: 40.5px;
        line-height: 63.2px;
        /* identical to box height */
        margin: 0;
        padding: 0 0 0;
      }

      .itemsWrapper {
        display: flex;
        justify-content: center;
        padding: 73.7px 0 0;
        margin: 0;
        .item{
          //width: 374.2px;
          padding: 35.3px 22.4px 19.4px 22.4px;
          margin: 0 9.7px 0;
          .icon {
            width: 123.1px;
            height: 123.1px;
            margin: 0;
          }

          .itemTitle {
            font-size: 19.4px;
            line-height: 30.8px;
            margin: 40.5px 0 0;
          }

          .description {
            font-size: 19.4px;
            line-height: 40.5px;
            margin: 13.8px auto 0;
            padding:0;
            Width: 285.4px;
          }
        }

      }
    }



  }
}
@media (min-width: 1691px) {
  .wrapper {
    background: #F8F8F8;
    text-align: center;
    margin: 0;
    padding: 41px 0 140px;
    height: fit-content;
    .container{
      .title {
        font-size: 50px;
        line-height: 78px;
        /* identical to box height */
        margin: 0;
        padding: 0 0 0;
      }

      .itemsWrapper {
        display: flex;
        justify-content: center;
        margin: 91px 0 0;
        padding: 0;
        .item{
          width: 462px;
          padding: 43.6px 27.6px 24.0px 27.6px;
          margin: 0 12px 0;
          .icon {
            width: 152px;
            height: 152px;
            margin: 0;
          }

          .itemTitle {
            font-size: 24px;
            line-height: 38px;
            margin: 50px 0 0;
          }

          .description {
            font-size: 24px;
            line-height: 50px;
            margin: 17px auto 0;
            padding:0;
            Width: 352.4px;
          }
        }

      }
    }



  }
}

@media (min-width: 1900px) {
  .wrapper {
    background: #F8F8F8;
    text-align: center;
    margin: 0;
    padding: 41px 0 140px;
    height: fit-content;
    .container{
      .title {
        font-size: 50px;
        line-height: 78px;
        /* identical to box height */
        margin: 0;
        padding: 0 0 0;
      }

      .itemsWrapper {
        display: flex;
        justify-content: center;
        margin: 91px 0 0;
        padding: 0;
        .item{
          width: 462px;
          padding: 49px 31px 27px 31px;
          margin: 0 13.5px 0;
          .icon {
            width: 152px;
            height: 152px;
            margin: 0;
          }

          .itemTitle {
            font-size: 24px;
            line-height: 38px;
            margin: 50px 0 0;
          }

          .description {
            font-size: 24px;
            line-height: 50px;
            margin: 17px auto 0;
            padding:0;
            Width: 396px;
          }
        }

      }
    }



  }
}