.navbarWrapper{
    display: flex;
    justify-content: space-between;

    position: fixed;
    width: 100%;
    height: 80px;

    background: #FEFEFE;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
}
.logo{
    width: 56.07px;
    height: 49.49px;
}
.navLogo{
    font-family: Dana;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: right;
    margin-right: 12px;
    color: #686868;
}
.actionButton{
    width: 120px;
    height: 46px;
    margin-left: 19px;
    margin-top: 17px;

    background: #25BDBE;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    font-family: Dana;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #FEFEFE;

    border: none;
    outline: none;
}
.actionButton::selection{
    border: none;
    outline: none;
}
.phoneNumber{
    display: none;
}


@media (min-width: 576px) {  }
@media (min-width: 768px) {  }
@media (min-width: 992px) {  }
@media (min-width: 1200px) {
    /*.navbarWrapper{*/
    /*    height: 87px;*/
    /*    border-radius: 0px 0px 30px 30px;*/
    /*}*/

    /*.navLogo{*/
    /*    font-size: 24px;*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    text-align: right;*/
    /*    padding: 0;*/

    /*    margin: 2px 102px 2px 0 ;*/
    /*}*/
    /*.logo{*/
    /*    width: 115px;*/
    /*    height: 98px;*/
    /*}*/
    .leftBox{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-left: 100px;
    }
    .actionButton{
        width: 200px;
        height: 50px;
        margin: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 46px;
    }
    .leftBox{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .phoneNumber{
        display: flex;
        height: 50px;
        font-family: Dana;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;

        align-items: center;

        padding-right: 35px;

    }
    .phoneIcon{
    margin-bottom: 10px;
    }
}
@media (min-width: 1900px) {

    .navbarWrapper{
        height: 127px;
        border-radius: 0px 0px 30px 30px;
    }
    .navLogo{

        font-size: 24px;
        line-height: 38px;
        /* identical to box height */
        align-items: center;
        text-align: right;
        padding: 0;
        margin: 2px 162px 2px 0 ;
    }
    .logo{
        width: 145px;
        height: 128px;
    }

    .actionButton{
        width: 302px;
        height: 90px;
        margin: 0;
        font-weight: 500;
        font-size: 30px;
        line-height: 46px;
    }
    .phoneNumber{
        font-size: 24px;
    }
}