.wrapper {
  text-align: center;
  height: 540px;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  .title1 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #1A1061;

    margin: 48px 0 0;
  }

  .title2 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #1A1061;

    margin: 18px 0 0;
  }

  .carouselWrapper {
    //display: flex;
    //justify-content: center;
    width: 262px !important;

    .carousel {
      //width: 260px;
      width: fit-content;
      //height: 382px;
      background: #FEFEFE;
      box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.25);
      border-radius: 18px;

      margin: 39px 0 20px;
      padding-top: 1px;

      .advisorImage {
        width: 105.91px;
        height: 105.91px;
        //border: 6px solid #25BDBE;
        //border-radius: 150px;
        //padding-top: 1px;
        margin: 24px auto 0;
      }

      .name {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        color: #2D2D2D;

        margin: 11px auto 0;
      }

      .title {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #2D2D2D;

        margin: 0;
      }

      .border {
        width: 138.44px;
        height: 0px;
        border: 2px solid #25BDBE;

        margin: 11.3px auto;
      }

      .description {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 205.6%;
        /* or 25px */
        color: #2D2D2D;
        width: 224px;
        margin: 24px 19px 0;
        padding-bottom: 36px;
      }
    }
    .carousel:hover{
      background: #1A1061;

      .name,.title,.description{
        color: white;
      }
    }
  }

}

@media (min-width: 576px) {
  .wrapper {
    height: 640px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    //margin: 0 20px;
    .title1 {
      font-size: 30px;
      line-height: 60px;

      margin: 65px 0 0;
    }

    .title2 {
      font-size: 27px;
      line-height: 45px;

      margin: 10px 0 45px;
    }
  }
}

@media (min-width: 992px) {
  .wrapper {
    //margin: 0 60px;
    .title1 {
      font-size: 30px;
      line-height: 60px;

      margin: 65px 0 0;
    }

    .title2 {
      font-size: 27px;
      line-height: 45px;

      margin: 10px 0 45px;
    }
  }
}

@media (min-width: 1200px) {
  .wrapper {
    height: 740px;
    //margin: 0 50px;

    .title1 {
      font-size: 35px;
      line-height: 67px;

      margin: 75px 0 0;
    }

    .title2 {
      font-size: 35px;
      line-height: 55px;

      margin: 10px 0 55px;
    }
  }
}

@media (min-width: 1470px) {

  .wrapper {
    //margin: 0 150px;
  }

}

@media (min-width: 1900px) {
  .wrapper {
    text-align: center;
    //height: 840px;
    margin: 95px 0 170px;
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    .title1 {
      font-size: 50px;
      line-height: 78px;

      margin: 0;
    }

    .title2 {
      font-size: 40px;
      line-height: 61px;

      margin: 10px 0 0;
    }

    .carouselWrapper {
      //display: flex;
      //justify-content: center;
      width: 384px !important;
      margin: 95px 0 20px;

      .carousel {
        //width: 260px;
        width: 384px;
        height: 512px;
        background: #FEFEFE;
        box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.25);
        border-radius: 18px;


        margin: 0;
        padding-top: 1px;

        .advisorImage {
          width: 124.28px;
          height: 124.28px;
          margin: 39px auto 0;
        }

        .name {

          font-size: 24px;
          line-height: 38px;

          margin: 23px auto 0;
        }

        .title {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: #2D2D2D;

          margin: 0;
        }

        .border {
          width: 163px;
          height: 0px;
          border: 2px solid #25BDBE;

          margin: 14.5px auto 0;
        }

        .description {
          font-size: 14px;
          line-height: 29px;

          width: 346px;
          margin: 25px auto 0;
          padding-bottom: 36px;
        }
      }
    }

  }
}